{{ 'nav.css' | asset_url | stylesheet_tag }}

{%- assign _links = _links | default: linklists[handle].links -%}

<nav class="nav">
  <ul>
    {%- for link in _links -%}
      <li class="{% if link.active %} is-current {% endif %} {% if link.links.size > 0 %} has-dropdown js-has-dropdown {% endif %}">
        <a href="{{- link.url -}}">
          {{- link.title -}}
        </a>

        {%- if link.links.size > 0 -%}
          <div class="nav__dropdown">
            <ul>
              {%- for link_second in link.links -%}
                <li class="{% if link_second.active %} is-current {% endif %}">
                  <a href="{{- link_second.url -}}">
                    {{- link_second.title -}}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div><!-- /.nav__dropdown -->
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav><!-- /.nav -->