{% assign current_variant = product.variants[0].id %}
{% assign engravingProduct = all_products[product.metafields.custom.product] %}
{% assign engravingId = engravingProduct.variants[0].id %}


{{ 'product-alt.css' | asset_url | stylesheet_tag }}

<div class="product-alt">
  <div class="shell">
    <div class="product__inner">
      <div class="product__images">
        <div class="product__images-inner">
          {% for image in product.images %}
            <div class="product__image">
              <img src="{{- image | image_url: width: 1000 -}}" alt="{{- image.alt | escape -}}">
            </div>
            <!-- /.product__image -->
          {% endfor %}
        </div>
        <!-- /.product__images-inner -->
      </div>
      <!-- /.product__images -->

      <div class="product__content">
        <div class="product__content-inner">
          <h2 class="product__title">
            {{- product.title -}}
          </h2>
          <!-- /.product__title -->

          <div class="product__price">
            <span class="price">
              {{- product.price | money -}}
            </span>
          </div>
          <!-- /.product__price -->

          <div class="product__description">
            {{- product.description -}}
          </div>
          <!-- /.product__description -->

          <input type="hidden" name="id" class="js-product-id" value="{{- current_variant -}}">
          <input type="hidden" name="quantity" class="js-product-quantity" value="1">

          <input type="hidden" name="engravingId" class="js-product-engraving-id" value="{{- engravingId -}}">

          <input type="text" value="" class="js-engraving-message">
        </div>
        <!-- /.product__content-inner -->

        <div class="product__actions">
          <button class="js-add-test">
            Add To Cart
          </button>
        </div>
        <!-- /.product__actions -->
      </div>
      <!-- /.product__content -->
    </div>
    <!-- /.product__inner -->
  </div>
  <!-- /.shell -->
</div>
<!-- /.product-alt -->

{% schema %}
{
  "name": "Product",
  "settings": [
  ]
}
{% endschema %}